.fondo-tabla{
    
    height: 100%;
    background: url("/img/.jpg")no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;

}



html,
body,
footer


.view-index {
    height: 100%;
    background: url("/img/backtriangle.jpg")no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.turnos {
    display: none;
}

.view {
    opacity: 1.00;
    filter: alpha(opacity=100);
    height: 100%;
    background: url("/img/backblack.jpg")no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

