.img-responsive {
    margin: 0 auto;
}

.alfa {
    background-image: none;
    padding-top: 45px;
}

.cardProductos {
    padding: 10px;
    visibility: visible
}

.beta {
    background-image: url("/img/pictures/imagenSedalShampoo.jpg");
    height: 100%;
    background-repeat: no-repeat;
}

.transparent {
    background: rgba(255, 255, 255, 0.5);
}

.collection-card .stripe.dark {
    background-color: rgba(0, 0, 0, .7);
}

.collection-card .stripe {
    position: absolute;
    bottom: 3rem;
    width: 100%;
    padding: 1.2rem;
}

.collection-card .stripe.light {
    background-color: rgba(255, 255, 255, .7);
}

@font-face {
    font-family: ProximaNova-Reg;
    src: url("/font/ProximaNova-Reg.woff");
}

@font-face {
    font-family: ProximaNova-Black;
    src: url("/font/ProximaNova-Black.woff");
}

@font-face {
    font-family: ProximaNova-Sbold;
    src: url("/font/ProximaNova-Sbold.woff");
}

div {
    font-family: ProximaNova-Reg;
    padding-left: 0px;
    padding-right: 0px;
}

h1 {
    font-size: 2.5em;
    /* 40px/16=2.5em */
}

h2 {
    font-size: 1.875em;
    /* 30px/16=1.875em */
}

h3 {
    font-size: 1.4em;
    /* 30px/16=1.875em */
}

h4 {
    font-size: 1.0em;
    /* 30px/16=1.875em */
}

p {
    font-size: 0.875em;
    /* 14px/16=0.875em */
}

h1,
h2,
h3,
.heading,
.title,
nav.main a strong,
.search .listing .item .underline,
.products.awards .listing .item strong.title {
    font-family: 'ProximaNova-Black', sans-serif;
}

.heading.primary {
    font-size: 40px;
    font-size: 4.0rem;
}

.heading.primary,
.heading.secondary {
    line-height: 1;
    padding: 0;
}

p.heading {
    padding: 0.5em 0;
    line-height: 1;
}

h1,
h2,
h3,
.heading,
.title,
.search_results table tr td.OutputTitle {
    line-height: 1;
    text-transform: uppercase;
    line-height: 1.2;
}


/*Parallax section*/

#section-1 {
    z-index: 1;
    color: #fff;
    height: 50vh;
}

#section-1 .row {
    position: fixed;
}

#section-1-shampoo .row {
    position: fixed;
}

#section-1-shampoo {
    z-index: 1;
    color: #fff;
    height: 50vh;
}

#section-1-index .row {
    position: fixed;
}

#section-1-index {
    z-index: 1;
    color: #fff;
    height: 60vh;
}


/*Parallax background*/

#section-1 .parallax-layer-back {
    background: url("/img/pictures/model3.jpg")no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

#section-1-shampoo .parallax-layer-back {
    background: url("/img/pictures/shower.jpg")no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

#section-1-index .parallax-layer-back {
    background: url("/img/pictures/model3.jpg")no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}


/*Section with dummy content*/

#section-2 {
    z-index: 2;
    position: relative;
    background: #fff;
    width: 100%;
}

.producto {
    padding-top: 50px;
    padding-bottom: 50px;
}

.boton-pofesional {
    background: #000 !important;
    color: #fff !important;
}

.boton-pofesional-active {
    background: #fff !important;
    color: #000 !important;
}

.centrar-imagen {
    float: none;
    margin: 0 auto;
}

.carousel {
    height: 50%;
}

@media (max-width: 776px) {
    .carousel {
        height: 100%;
    }
}

.carousel-item,
.active {
    height: 100%;
}

.carousel-inner {
    height: 100%;
}


/*TEST  */
